{% extends "budzet/base.html" %}

{% block content %}
<div class="container">
    <h2>Logowanie</h2>
    <form method="post">
        {% csrf_token %}
        <div>
            <label for="username">Nazwa użytkownika:</label><br>
            <input type="text" name="username" required id="username">
        </div>
        <div>
            <label for="password">Hasło:</label><br>
            <input type="password" name="password" required id="password">
        </div>
        <button type="submit">Zaloguj się</button>
    </form>

    {% if form.errors %}
        <p style="color: red;">Nieprawidłowe dane logowania. Spróbuj ponownie.</p>
    {% endif %}
</div>
{% endblock %}
